.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Configurations
        .col-sm-12
          %h1.m-0.text-dark Configurations
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-body
              %table.table
                %thead
                  %tr
                    %th Feature
                    %th Attributes
                    %th Actions
                %tbody
                  %tr
                    %td Round Robin Assignment
                    %td= current_user.manageables.round_robin_users.pluck(:name).join(',')
                    %td
                      - if @company.round_robin_enabled?
                        = link_to round_robin_users_path, method: :delete, class: 'btn btn-danger', style: "padding: 4px 8px; width: auto;", data: {confirm: "Are you sure?"} do
                          Disable
                      - else
                        = link_to edit_user_config_users_path, remote: true, class: "btn btn-primary", style: "padding: 4px 8px; width: auto;" do
                          Enable